<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <ul>
      {% for lang in languages %}
      <li>{{ lang }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
